@media only screen and (max-width: 1574px) {
    .welcome .categories-row {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .welcome div[class^="categories-item"] {
        margin: 10px;
    }
}


@media only screen and (max-width: 1200px) {
    .menu .main-menu {
        max-width: 835px;
        width: 100%;

        min-height: 77px;
    }

    .menu .cart, .menu button {
        min-height: 77px;
        font-size: 28px;
    }

    .menu .cart {
        max-width: 140px;
        width: 100%;

        padding: 22px 10px 21px 10px;
    }

    .menu button {
        max-width: 140px;
        width: 100%;
    }
    
    .menu button span {
        margin-left: 34px;
    }

    .menu button::before {
        top: 29%;
        left: 10%;
    }

    .menu .cart::before, .menu button::before {
        font-size: 28px;
    }

    .slider .categories {
        width: 455px;
        height: 455px;

        top: 110px;
        left: 10.4%;
    }

    .slider .categories img {
        width: 321px;
        height: 286px;

        top: 10%;
        left: 13%;
    }

    .slider .bank-card {
        width: 442px;
        height: 442px;

        top: 90px;
        right: 14%;
    }

    .slider .bank-card img {
        width: 459px;
        height: 352px;

        top: 14.7%;
        left: 2.5%;
    }

    .products .products-items {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .products .products-item {
        margin-right: 5px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

    .counters {
        background-size: cover;
    }

    .delivery .delivery-item {
        flex-direction: column;
        align-items: center;

        margin-right: 0px;
    }

    .delivery .delivery-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .delivery .delivery-items {
        margin: 5px 5px;
    }

    .delivery .delivery-description-title {
        max-width: 467px;
    }

    .delivery .delivery-description-text {
        max-width: 500px;
    }
}

@media only screen and (max-width: 1061px) {
    .slider .categories {
        top: 110px;
        left: 7.4%;
    }

    .slider .bank-card {
        top: 90px;
        right: 11%;
    }
}

@media only screen and (max-width: 992px) {
    .menu .main-menu {
        justify-content: space-around;

        font-size: 14px;

        padding: 0;
    }

    .menu .cart, .menu button {
        font-size: 22px;
    }

    .menu .cart {
        max-width: 80px;
        width: 100%;

        line-height: 34px;
    }

    .menu button {
        max-width: 90px;
        width: 100%;
    }

    .menu button span {
        margin-left: 0;
    }

    .menu .cart::before, .menu button::before {
        display: none;
    }

    .slider-item {
        height: 365px;
    }

    .slider .categories {
        width: 355px;
        height: 355px;

        top: 115px;
        left: 13.4%;
    }

    .slider .categories img {
        width: 221px;
        height: 186px;

        top: 13%;
        left: 18%;
    }

    .slider .bank-card {
        width: 342px;
        height: 342px;

        top: 80px;
        left: 48%;
    }

    .slider .bank-card img {
        width: 359px;
        height: 252px;

        top: 17.7%;
        left: 0.5%;
    }

    .products {
        padding: 7px 0 50px 0;
    }
}

@media only screen and (max-width: 870px) {
    .slider .categories {
        width: 315px;
        height: 315px;

        top: 120px;
        left: 14.4%;
    }

    .slider .categories img {
        top: 13%;
        left: 15%;
    }

    .slider .bank-card {
        width: 302px;
        height: 302px;

        top: 85px;
        right: 17%;
    }
}

@media only screen and (max-width: 768px) {
    header .header-inner {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 175px;
    }

    .menu .menu-inner {
        justify-content: center;
    }

    .menu .main-menu {
        display: none;

        position: absolute;
        top: 196px;
        left: 0;

        max-width: 100%;
        width: 100%;
    }

    .btn-menu {
        display: block;
    }

    .menu .main-menu {
        top: 251px;
    }

    .menu .cart {
        max-width: 140px;
        width: 100%;

        line-height: 26px;
    }

    .menu button {
        max-width: 140px;
        width: 100%;
    }

    .menu button span {
        margin-left: 36px;
    }

    .menu .cart::before, .menu button::before {
        display: inline-block;
    }

    .main-menu .sub-menu-one, .main-menu .sub-menu-two {
        max-width: 100%;
        width: 100%;
    }

     .main-menu .sub-menu-one > li, .main-menu .sub-menu-two > li{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-menu .sub-menu-one {
        top: 36px;
    }

    .main-menu .sub-menu-two {
        top: 72px;
    }

    .slider .categories {
        width: 265px;
        height: 265px;

        top: 155px;
        left: 14.4%;
    }

    .slider .categories img {
        width: 171px;
        height: 136px;

        top: 20%;
        left: 17%;
    }

    .slider .bank-card {
        width: 252px;
        height: 252px;

        top: 130px;
        right: 17%;
    }

    .slider .bank-card img {
        width: 279px;
        height: 172px;

        top: 24.7%;
        left: 0.5%;
    }

    .counters {
        padding: 62px 0 35px 0;
    }

    .counters .counters-item {
        flex-direction: column;
        align-items: center;
    }

    .counters .counters-items {
        margin-bottom: 25px;
    }
}


@media only screen and (max-width: 600px) {
    header .header-inner {
        min-height: 225px;
    }

    header .search-sign-up {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-width: 310px;
    }

    header .search-sign-up form {
        margin: 5px 0 5px 0;
    }
    
    .menu .menu-inner {
        justify-content: center;
    }

    .menu .cart, .menu button {
        text-align: center;
        font-size: 22px;
    }

    .menu .cart {
        max-width: 90px;
        width: 100%;

        padding: 26px 8px 25px 8px;
    }

    .menu button {
        max-width: 90px;
        width: 100%;
    }
    
    .menu button span {
        margin-left: 0;
    }

    .menu .cart::before, .menu button::before {
        display: none;
    }

    .menu .main-menu {
        top: 302px;
    }

    .slider-item {
        height: 365px;
    }

    .slider .categories {
        width: 215px;
        height: 215px;

        top: -8px;
        left: 17.4%;
    }

    .slider .categories img {
        width: 171px;
        height: 136px;

        top: 10%;
        left: 10%;
    }

    .slider .bank-card {
        width: 202px;
        height: 202px;

        top: 174px;
        left: 35%;
        right: 0%;
    }

    .slider .bank-card img {
        width: 229px;
        height: 122px;

        top: 31.7%;
        left: 0%;
    }

    .welcome div[class^="categories-item"] {
        flex-direction: column;

        margin: 10px 5px;
    }

    .delivery {
        padding: 55px 0 25px;
    }

    .delivery .delivery-items {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        margin: 20px 0px;
    }

    .delivery .delivery-images {    
        margin-right: 0;
        margin-bottom: 25px;
    }

    .delivery .delivery-description-title {
        max-width: 100%;
        text-align: center;
    }
}





