*, *:before , *:after {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 0;
    margin: 0;

    background-color: transparent;
    color: #fff;
    border: none;
    outline: 0;
    cursor: pointer;
}

hr {
    width: 103px;
    height: 7px;

    margin: 0;

    background-color: #00a8a9;
    box-shadow: none;
    border: none;
    border-radius: 3px;
}

body {
    margin: 0;
    padding: 0;
    
    min-width: 1580px;

    font-family: 'Roboto', sans-serif;
    
    color: #8c8c8c;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 120px;

    background-color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-top: 35px;

    position: relative;
}

header .logo-text {
    font-size: 32px;
    text-decoration: none;
    font-weight: 400;
    color: #34272c;
    opacity: 0.8;
    letter-spacing: 0.8px;

    margin-left: 45px;
}

header .logo span {
    font-size: 36px;
    color: #000;
    letter-spacing: 0.36px;
    font-weight: 500;
}

header .package {
    position: absolute;
    bottom: 3px;
    left: 2px;
}

header .search-sign-up {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    min-width: 415px;
}

header .search-sign-up form {
    position: relative;
}

header .search-sign-up input {
    
    min-width: 271px;
    min-height: 44px;

    padding: 14px 40px 13px 16px;

    font-size: 16px;

    color: #989898;

    background-color: #fff;
    border: 1px solid #bebebe;

    box-sizing: border-box !important;
}

header .search-sign-up input::-webkit-search-cancel-button {
    display: none;
}

header .search-sign-up .search-submit {
    position: absolute;
    top: 25%;
    right: 12px;

    width: 22px;
    height: 23px;
    
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;
}

header .search-sign-up .sign-up {
    min-width: 113px;
    min-height: 44px;
    
    margin: 2px 0;
    padding: 5px 10px;

    font-size: 16px;

    background-color: #00a8a9;
    color: #ffffff;
}

header .search-sign-up .sign-up:hover {
    background-color: #008f8f;
}

header .search-sign-up .sign-up:active {
    background-color: #007575;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 76px;

    background-color: #37393e;
}

.menu .container  {
    display: flex;
    align-items: center;

    color: #ffffff;
}

.menu .home {
    display: block;

    max-width: 4.7%;
    width: 4.7%;
    min-height: 55px;
    
    background-color: #00a8a9;
    border-radius: 50%;

    position: relative;
}

.menu .home::after {
    font-family: 'icomoon';
    content: "\f015";

    position: absolute;
    top: 17%;
    left: 24%;

    font-size: 32px;
}

.menu .main-menu {
    display: flex;

    max-width: 59.8%;
    width: 59.8%;
    min-height: 76px;

    margin: 0;
    padding: 0;

    font-weight: 500;
    list-style: none;
}

.main-menu > li {
    width: 20%;      
}


.main-menu > li:first-child {
    width: 29.4%;      
}

.main-menu > li:nth-child(2) {
    width: 23%;      
}

.main-menu > li:nth-child(4) {
    width: 15%;      
}

.menu .main-menu > li:hover {
    background-color: #64676e;     
}

.menu .main-menu > li > a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 10px;

    width: 100%;
    height: 100%;
}

.menu .main-menu > li:first-of-type > a::after {
    font-family: 'icomoon';
    content: "\f107";

    margin-left: 8px;
}

.menu .main-menu > li:nth-child(2) > a::after {
    font-family: 'icomoon';
    content: "\f107";

    margin-left: 7px;
}

.main-menu .sub-menu-one {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    max-width: 192px;
    width: 192px;

    background-color: #37393e;
    list-style: none;

    position: absolute;
}

.main-menu .sub-menu-one > li {
    padding: 10px 23px;
}

.main-menu .sub-menu-two {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    max-width: 149px;
    width: 149px;

    background-color: #37393e;
    list-style: none;

    position: absolute;
}

.main-menu .sub-menu-two > li {
    padding: 10px 14px;
}

.main-menu ul[class*="sub-menu"] > li:hover {
    background-color: #64676e;  
}

.main-menu ul[class*="sub-menu"] {
    display: none;

    z-index: 3;
}

.main-menu > li:hover .sub-menu-one, .main-menu > li:hover .sub-menu-two {
    display: flex;
}

.menu .cart {
    font-size: 36px;
    font-weight: 300;

    padding: 17px 35px 18px 81px;

    background-color: #f0cc50;

    position: relative;
}

.menu .cart:hover {
    background-color: #e3b827;
}

.menu .cart:active {
    background-color: #d9aa0b;
}

.menu .cart::before {
    font-family: 'icomoon';
    content: "\f23d";

    position: absolute;
    top: 20%;
    left: 10%;
}

.menu .cart span{ 
    font-weight: 400;
}


.menu button {
    max-width: 17.3%;
    width: 17.3%;
    height: 76px;

    padding: 10px 10px;

    font-size: 36px;
    font-weight: 300;

    background-color: #00a8a9;

    position: relative;
}

.menu button::before {
    font-family: 'icomoon';
    content: "\f2c0";

    font-size: 32px;

    position: absolute;
    top: 25%;
    left: 13%;
}

.menu button span {
    margin-left: 43px; 
}

.menu button:hover {
    background-color: #008f8f;
}

.menu button:active {
    background-color: #007575;
}

.slider {
    background-image: linear-gradient(to right, #d38312 0%, #a83279 100%);
}

.slider-item {
    width: 1170px;
    height: 481px;

    margin: 0 auto;

    overflow: hidden;

    position: relative;
}

.slider-item-wrapper {
    position: relative;
}

.slider-item .categories {
    width: 555px;
    height: 555px;

    background-color: #f0cc50;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;

    position: absolute;
    top: 25px;
    left: 3.4%;
}

.slider-item .categories-2 {
    background-color: #fc9e19;
}

.slider-item .categories-3 {
    background-color: #1da1f2;
}


.slider-item .categories img {
    width: 421px;
    height: 386px;

    position: absolute;
    top: 5%;
    left: 12%;
}

.slider-item .bank-card {
    width: 542px;
    height: 542px;

    background-color: #8cc63e;
    border-radius: 50%;
    overflow: hidden;
    
    position: absolute;
    top: 62px;
    right: 7%;
}

.slider-item .bank-card img {
    width: 529px;
    height: 422px;

    position: absolute;
    top: 14.7%;
    left: 2.5%;
}

.arrow {
    width: 50px;
    height: 50px;

    background-color: rgba(55, 57, 62, 0.2);
    border-radius: 50%;
    z-index: 1;

    position: absolute;
    top: 45%;

}

.arrow-prev {
    left: 1%;
}

.arrow-prev::before {
    font-family: 'icomoon';
    content: "\f104";

    font-size: 40px;
    color: #ffffff;

    position: relative;
    left: 30%;
}

.arrow-next {
    right: 1%;
}

.arrow-next::before {
    font-family: 'icomoon';
    content: "\f105";

    font-size: 40px;
    color: #ffffff;

    position: relative;
    left: 40%;
}

.welcome {
    width: 100%;
    min-height: 910px;
    padding-top: 74px;

    background-color: #fff;
}

.welcome .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}

.welcome .main-welcome {
    font-size: 50px;
    font-weight: 300;
    line-height: 41px;
    letter-spacing: 1px;
    color: #000000;

    margin: 0 0 7px 0;

}

.welcome hr {
    margin-bottom: 27px;
}

.welcome .welcome-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #8c8c8c;

    margin: 0 0 44px 0;
}

.welcome .welcome-detailed-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.32px;
    text-align: center;

    
    max-width: 1161px;
    margin: 0;
}

.container-row {
    width: 1560px;
    margin: 0 auto;
    padding-top: 68px;
}

.categories-row {
    display: flex;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    max-height: 250px;
    height: 250px;
}

.categories-row:not(:last-child) {
    margin-bottom: 30px;
}

div[class^="categories-item"] {
    display: flex;
    width: 32.2%;
}

div[class^="categories-item"] .icon::before {
    font-size: 174px;
}

div[class^="categories-item-text"] {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
    height: 100%;
    padding: 71px 0 3px 0;
}

.icon {
    width: 50%;
    height: 100%;

    position: relative;
}

div[class^="categories-item-text"] h2 {
    font-size: 36px;
    font-weight: 500;

    color: #ffffff;

    margin: 0 0 3px 0;
}

div[class^="categories-item-text"] p {
    color: #fff;

    margin: 0 0 15px 0;
}

.details {
    width: 57px;
    height: 57px;

    border: 1px solid #fff;
    border-radius: 50%;   
}

.details a {
    display: block;

    width: 100%;
    height: 100%;

    position: relative;
}

.details a::before {
    font-family: 'icomoon';
    content: "\f115";
    font-size: 30px;
    line-height: 22px;
    color: #fff;

    position: absolute;

    top: 18px;
    left: 14px;
}

.categories-item-сomputer {
    border: 1px solid #f0cc50;
}

.categories-item-сomputer .icon::before {
    font-family: 'icomoon';
    content: "\f109";
    color: #f0cc50;
    line-height: 127px;

    position: absolute;

    top: 62px;
    left: 36px;
}

.categories-item-text-сomputer {
    background-color: #f0cc50;
}

.categories-item-music {
    border: 1px solid #f14d4d;
}

.categories-item-music .icon::before {
    font-family: 'icomoon';
    content: "\f001";
    color: #f14d4d;
    line-height: 177px;

    position: absolute;

    top: 35px;
    left: 37px;
}

.categories-item-text-music {
    background-color: #f14d4d;
}

.categories-item-website {
    border: 1px solid #00a8a9;
}

.categories-item-website .icon::before {
    font-family: 'icomoon';
    content: "\f0ac";
    color: #00a8a9;
    line-height: 151px;

    position: absolute;

    top: 50px;
    left: 51px;
}

.categories-item-text-website {
    background-color: #00a8a9;
}

.categories-item-android {
    border: 1px solid #8cc63e;
}

.categories-item-android .icon::before {
    font-family: 'icomoon';
    content: "\f17b";
    color: #8cc63e;
    line-height: 175px;

    position: absolute;

    top: 34px;
    left: 57px;
}


.categories-item-text-android {
    background-color: #8cc63e;
}

.categories-item-ios {
    border: 1px solid #2e64bd;
}

.categories-item-ios .icon::before {
    font-family: 'icomoon';
    content: "\f179";
    color: #2e64bd;
    line-height: 173px;

    position: absolute;

    top: 37px;
    left: 56px;
}

.categories-item-text-ios {
    background-color: #2e64bd;
}

.categories-item-other {
    border: 1px solid #315f6d;
}

.categories-item-other .icon::before {
    font-family: 'icomoon';
    content: "\f141";
    color: #315f6d;
    line-height: 48px;

    position: absolute;

    top: 102px;
    left: 54px;
}

.categories-item-text-other {
    background-color: #315f6d;
}

