*, *:before , *:after {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 0;
    margin: 0;

    background-color: transparent;
    color: #fff;
    border: none;
    outline: 0;
    cursor: pointer;
}

hr {
    width: 103px;
    height: 7px;

    margin: 0;

    background-color: #00a8a9;
    box-shadow: none;
    border: none;
    border-radius: 3px;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    
    color: #8c8c8c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: #fff;
}

header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 120px;
}

header .search-sign-up {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    min-width: 417px;
}

header .search-sign-up form {
    position: relative;

    margin-right: 13px
}

header .search-sign-up input { 
    min-width: 271px;
    min-height: 44px;

    padding: 13px 40px 11px 16px;

    font-size: 16px;

    color: #989898;

    background-color: #fff;
    border: 1px solid #bebebe;

    box-sizing: border-box !important;
}

header .search-sign-up input::-webkit-search-cancel-button {
    display: none;
}

header .search-sign-up .search-submit {
    position: absolute;
    top: 25%;
    right: 12px;

    width: 22px;
    height: 23px;
    
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;
}

header .search-sign-up .sign-up {
    min-width: 133px;
    min-height: 44px;
    
    padding: 5px 10px;

    font-size: 16px;

    background-color: #00a8a9;
    color: #ffffff;
}

header .search-sign-up .sign-up:hover {
    background-color: #008f8f;
}

header .search-sign-up .sign-up:active {
    background-color: #007575;
}

.menu {
    width: 100%;

    background-color: #37393e;
    color: #ffffff;
}

.menu .menu-inner {
    display: flex;
    align-items: center;

    min-height: 76px;
}

.menu .home {
    display: block;

    max-width: 55px;
    width: 55px;
    max-height: 55px;
    height: 55px;
    
    background-color: #00a8a9;
    border-radius: 50%;

    position: relative;
}

.menu .home::after {
    font-family: 'icomoon';
    content: "\f015";

    position: absolute;
    top: 17%;
    left: 24%;

    font-size: 32px;
}

.menu .main-menu {
    display: flex;
    justify-content: space-between;
    
    max-width: 698px;
    width: 100%;
    min-height: 76px;
    
    margin: 0;
    padding: 0 33px 0 38px;

    font-weight: 500;
    list-style: none;

    position: relative;
}

.menu .main-menu > li > a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 10px;

    height: 100%;
}

.menu .main-menu > li:first-of-type > a::after {
    font-family: 'icomoon';
    content: "\f107";

    margin-left: 8px;
}

.menu .main-menu > li:nth-child(2) > a::after {
    font-family: 'icomoon';
    content: "\f107";

    margin-left: 7px;
}

.main-menu .sub-menu-one {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    max-width: 184px;
    width: 100%;

    background-color: #37393e;
    list-style: none;

    position: absolute;
    top: 76px;
}

.main-menu .sub-menu-one > li {
    padding: 10px 23px;
}

.main-menu .sub-menu-two {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    max-width: 149px;
    width: 100%;

    background-color: #37393e;
    list-style: none;

    position: absolute;
    top: 76px;
}

.main-menu .sub-menu-two > li {
    padding: 10px 14px;
}

.main-menu ul[class*="sub-menu"] > li:hover {
    background-color: #64676e;  
}

.main-menu ul[class*="sub-menu"] {
    display: none;

    z-index: 3;
}

.main-menu > li:hover .sub-menu-one, .main-menu > li:hover .sub-menu-two {
    display: flex;
}

.menu .cart {
    display: block;

    max-width: 213px;
    width: 100%;

    font-size: 36px;
    font-weight: 300;
    text-align: center;

    padding: 17px 35px 18px 21px;

    background-color: #f0cc50;

    position: relative;
}

.menu .cart:hover {
    background-color: #e3b827;
}

.menu .cart:active {
    background-color: #d9aa0b;
}

.menu .cart::before {
    font-family: 'icomoon';
    content: "\f23d";
    font-size: 32px;
    line-height: 32.18px;
}

.menu .cart span{ 
    font-weight: 400;
}

.menu button {
    max-width: 203px;
    width: 100%;
    min-height: 76px;

    padding: 10px 10px;

    font-size: 36px;
    font-weight: 300;

    background-color: #00a8a9;

    position: relative;
}

.menu button::before {
    font-family: 'icomoon';
    content: "\f2c0";

    font-size: 32px;

    position: absolute;
    top: 25%;
    left: 13%;
}

.menu button span {
    margin-left: 43px; 
}

.menu button:hover {
    background-color: #008f8f;
}

.menu button:active {
    background-color: #007575;
}

.slider {
    background-image: linear-gradient(to right, #d38312 0%, #a83279 100%);
}

.slider-item {
    max-width: 1170px;
    height: 481px;

    margin: 0 auto;

    overflow: hidden;

    position: relative;
}

.slider-item-wrapper {
    position: relative;
}

.slider-item .categories {
    width: 555px;
    height: 555px;

    background-color: #f0cc50;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;

    position: absolute;
    top: 25px;
    left: 3.4%;
}

.slider-item .categories-2 {
    background-color: #fc9e19;
}

.slider-item .categories-3 {
    background-color: #1da1f2;
}


.slider-item .categories img {
    width: 421px;
    height: 386px;

    position: absolute;
    top: 5%;
    left: 12%;
}

.slider-item .bank-card {
    width: 542px;
    height: 542px;

    background-color: #8cc63e;
    border-radius: 50%;
    overflow: hidden;
    
    position: absolute;
    top: 62px;
    right: 7%;
}

.slider-item .bank-card img {
    width: 529px;
    height: 422px;

    position: absolute;
    top: 14.7%;
    left: 2.5%;
}

.arrow {
    width: 50px;
    height: 50px;

    background-color: rgba(55, 57, 62, 0.2);
    border-radius: 50%;
    z-index: 1;

    position: absolute;
    top: 45%;

}

.arrow-prev {
    left: 1%;
}

.arrow-prev::before {
    font-family: 'icomoon';
    content: "\f104";

    font-size: 40px;
    color: #ffffff;

    position: relative;
    left: 30%;
}

.arrow-next {
    right: 1%;
}

.arrow-next::before {
    font-family: 'icomoon';
    content: "\f105";

    font-size: 40px;
    color: #ffffff;

    position: relative;
    left: 40%;
}

.welcome {
    padding: 74px 0 55px 0;


    background-color: #fff;
}

.welcome .main-welcome {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    line-height: 41px;
    letter-spacing: 1px;
    color: #000000;

    margin: 0 0 7px 0;
}

.welcome hr {
    margin: 0 auto 27px;
}

.welcome .welcome-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;

    margin: 0 0 44px 0;
}

.welcome .welcome-detailed-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.32px;
    text-align: center;

    max-width: 1161px;
    margin: 0 auto 68px;
}

.container-row {
    max-width: 1590px;
    margin: 0 auto;
    padding: 0 15px;
}

.categories-row {
    display: flex;
    justify-content: space-between;
}

.categories-row:not(:last-child) {
    margin-bottom: 30px;
}

div[class^="categories-item"] {
    display: flex;
    max-width: 503px;
    min-height: 251px;
}

div[class^="categories-item"] .icon::before {
    font-size: 174px;
}

div[class^="categories-text"] {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 251px;
    padding: 71px 0 3px 0;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 251px;

    position: relative;
}

div[class^="categories-text"] h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;

    margin: 0 0 3px 0;
}

div[class^="categories-text"] p {
    color: #fff;
    line-height: 22px;

    margin: 0 0 15px 0;
}

.details {
    width: 57px;
    height: 57px;

    border: 1px solid #fff;
    border-radius: 50%;   
}

.details a {
    display: block;

    width: 100%;
    height: 100%;

    position: relative;
}

.details a::before {
    font-family: 'icomoon';
    content: "\f115";
    font-size: 30px;
    line-height: 22px;
    color: #fff;

    position: absolute;

    top: 18px;
    left: 14px;
}

.categories-item-сomputer {
    border: 1px solid #f0cc50;
}

.categories-item-сomputer .icon::before {
    font-family: 'icomoon';
    content: "\f109";
    color: #f0cc50;
    line-height: 127px;
}

.categories-text-сomputer {
    background-color: #f0cc50;
}

.categories-item-music {
    border: 1px solid #f14d4d;
}

.categories-item-music .icon::before {
    font-family: 'icomoon';
    content: "\f001";
    color: #f14d4d;
    line-height: 177px;
}

.categories-text-music {
    background-color: #f14d4d;
}

.categories-item-website {
    border: 1px solid #00a8a9;
}

.categories-item-website .icon::before {
    font-family: 'icomoon';
    content: "\f0ac";
    color: #00a8a9;
    line-height: 151px;
}

.categories-text-website {
    background-color: #00a8a9;
}

.categories-item-android {
    border: 1px solid #8cc63e;
}

.categories-item-android .icon::before {
    font-family: 'icomoon';
    content: "\f17b";
    color: #8cc63e;
    line-height: 175px;
}

.categories-text-android {
    background-color: #8cc63e;
}

.categories-item-ios {
    border: 1px solid #2e64bd;
}

.categories-item-ios .icon::before {
    font-family: 'icomoon';
    content: "\f179";
    color: #2e64bd;
    line-height: 173px;
}

.categories-text-ios {
    background-color: #2e64bd;
}

.categories-item-other {
    border: 1px solid #315f6d;
}

.categories-item-other .icon::before {
    font-family: 'icomoon';
    content: "\f141";
    color: #315f6d;
    line-height: 48px;
}

.categories-text-other {
    background-color: #315f6d;
}

.products {
    padding: 15px 0 35px 0; 
}

.products-title {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    color: #000000;

    margin: 0 0 10px 0;
}

.products hr {
    margin: 0 auto 30px;
}

.product-description-title {
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    margin: 0 0 52px 0;
}

.products-items {
    display: flex;
    justify-content: space-between;
}

.products-items:not(:last-child) {
    margin-bottom: 58px;
}

.products-item {
    max-width: 295px;
}

.main-info {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 7px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;


    min-height: 275px;
    border: 1px solid #bebebe;
    margin-bottom: 26px;
}

.product-text {
    padding: 0 7px;
}

.product-name {
    font-size: 30px;
    text-align: center;
    color: #000;
    margin: 0 0 24px; 0;
}

.product-text hr {
    margin: 0 auto 21px;
}

.product-description {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 36px 0;
}

.product-price {
    font-size: 40px;
    text-align: center;
    color: #000;

    margin: 0 0 24px 0;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 254px;
    width: 100%;
    min-height: 45px;
    margin: 0 auto 26px;

    background-color: #00a8a9;
}

.add-to-cart:hover {
    background-color: #008f8f;
}

.add-to-cart:active {
    background-color: #007575;
}

.add-to-cart::before {
    font-family: 'icomoon';
    content: "\f07a";
    font-size: 29px;
}

.add-to-cart::after {
    font-family: 'icomoon';
    content: "\f067";
    font-size: 16px;

    margin-left: 10px;
}

.add-to {
    display: flex;
    justify-content: space-between;

    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.26px;
    color: #000;
}

.add-to-inner {
    display: flex;
}

.wishlist, .compare {
    color: #000;
}

.heart, .copy {
    visibility: hidden;
}

.heart::before {
    font-family: 'icomoon';
    content: "\f004";
    font-size: 16px;
    color: #f14d4d;

    margin-right: 5px;;
}

.copy::before {
    font-family: 'icomoon';
    content: "\f0c5";
    font-size: 16px;
    color: #f14d4d;

    margin-right: 4px;
}
